<!-- Email Footer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation"
style="margin: auto; background-color: #001D66;" width="600" class="email-footer">
<tbody>
    <tr>
        <td class="center-on-narrow" style="text-align: center; padding: 25px 40px 40px;">
            <a href="https://www.linkedin.com/company/fleetpride"
                style="display: inline-block; color: #ffffff; font-size: 12px; line-height: 16px;"
                target="_blank" title="LinkedIn"> <img alt="LinkedIn" height="32"
                    src="https://image.s12.sfmc-content.com/lib/fe2f11727364047c7d1373/m/1/c807327f-0143-417c-95a4-f78f08fcbf83.png"
                    style="display: block; padding: 0; color: black; text-decoration: none; font-family: Arial, sans-serif; font-size: 15px; line-height: 22px;"
                    width="32"> </a>&nbsp;&nbsp;
            <a href="https://www.facebook.com/fleetprideinc/"
                style="display: inline-block; color: #ffffff; font-size: 12px; line-height: 16px;"
                target="_blank" title="Facebook"><img alt="Facebook" height="32"
                    src="https://image.s12.sfmc-content.com/lib/fe2f11727364047c7d1373/m/1/ecdafbbc-9b7f-476d-8ad8-dfb0b3bacd40.png"
                    style="display: block; padding: 0; color: black; text-decoration: none; font-family: Arial, sans-serif; font-size: 15px; line-height: 22px;"
                    width="32"> </a>&nbsp;&nbsp;
            <a href="https://www.youtube.com/channel/UCsiTQupxIlFLT-8e6wZALpg"
                style="display: inline-block; color: #ffffff; font-size: 12px; line-height: 16px;"
                target="_blank" title="YouTube"> <img alt="YouTube" height="32"
                    src="https://image.s12.sfmc-content.com/lib/fe2f11727364047c7d1373/m/1/1e706523-12a0-4e93-98fa-507b981c5d35.png"
                    style="display: block; padding: 0; color: black; text-decoration: none; font-family: Arial, sans-serif; font-size: 15px; line-height: 22px;"
                    width="32"> </a>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 25px; text-align: center;">
            <a href="https://www.fleetpride.com/"
                style="color: #ffffff; font-size: 12px; line-height: 16px; margin: 25px 0;"
                target="_blank"><img alt="Logo" border="0" height="33"
                    src="https://image.s12.sfmc-content.com/lib/fe2f11727364047c7d1373/m/1/b61f0adb-38a6-4971-a4d4-723443f766dd.png"
                    style="max-width: 142px; height: auto; font-family: Arial, sans-serif;; font-size: 15px; line-height: 15px; color: #ffffff; vertical-align: top;"
                    width="142"> </a>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 25px; text-align: center;" class="gear-icons">
            <img src="http://image.e.fleetpride.com/lib/fe2f11727364047c7d1373/m/1/1b6b8abe-f30e-4380-a420-73317eaccd4c.png"
                alt="FleetPride Customer" width="78" height="78" />
            <img src="http://image.e.fleetpride.com/lib/fe2f11727364047c7d1373/m/1/e5faf89b-d019-4cd0-a0b6-d9ef12e14a86.png"
                alt="FleetPride Integrity" width="78" height="78" />
            <img src="http://image.e.fleetpride.com/lib/fe2f11727364047c7d1373/m/1/ab582ec4-cfa3-4af9-8cab-196f58b88ea3.png"
                alt="FleetPride People" width="78" height="78" />
            <img src="http://image.e.fleetpride.com/lib/fe2f11727364047c7d1373/m/1/a88ffc0f-845b-4a96-b10c-260148406e6a.png"
                alt="FleetPride Safety" width="78" height="78" />
            <img src="http://image.e.fleetpride.com/lib/fe2f11727364047c7d1373/m/1/ad4b9e28-01a4-43fb-a7b2-a978ae543758.png"
                alt="FleetPride Operational Excellence" width="78" height="78" />
        </td>
    </tr>
    <tr>
        <td
            style="padding: 20px; font-family: Arial, sans-serif;; font-size: 12px; line-height: 15px; text-align: center; color: #ffffff;">
            Copyright &copy; %%=FormatDate(Now(), "yyyy")=%% FleetPride, Inc.
            <br />
    <tr>
        <td valign="top" class="sfmc-footer">
            <custom type="footer" />
        </td>
    </tr>
    </td>
    </tr>
</tbody>
</table>
<!-- Email Footer : END -->