---
layout: layout.liquid
permalink: "/content-one-column/"
style: "content-one-column"
title: "Content One Column"
---
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-url">Component Padding Top</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-component-padding-top" class="slds-input" placeholder="Enter padding" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-url">Component Padding Bottom</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-component-padding-bottom" class="slds-input" placeholder="Enter padding" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title">Title</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title" class="slds-input" placeholder="Enter a title" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title-font-size">Title font size</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title-font-size" class="slds-input" placeholder="Enter a font size in px" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title-line-height">Title line height</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title-line-height" class="slds-input" placeholder="Enter a line height" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title-font-weight">Title font weight</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title-font-weight" class="slds-input" placeholder="Enter a font weight" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title-font-color">Title font color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title-font-color" class="slds-input" placeholder="Enter a font color in hex" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle">Subtitle</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle" class="slds-input" placeholder="Enter a subtitle" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle-font-size">Subtitle font size</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle-font-size" class="slds-input" placeholder="Enter a font size in px" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle-line-height">Subtitle line height</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle-line-height" class="slds-input" placeholder="Enter a line height" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle-font-weight">Subtitle font weight</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle-font-weight" class="slds-input" placeholder="Enter a font weight" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle-font-color">Subtitle font color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle-font-color" class="slds-input" placeholder="Enter a font color in hex" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-url">Subtitle Padding Bottom</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-subtitle-padding-bottom" class="slds-input" placeholder="Enter padding" />
	</div>
</div>
<div class="slds-form-element">
  <label class="slds-form-element__label" for="textarea-id-description">Description</label>
  <div class="slds-form-element__control">
    <textarea id="textarea-id-description" placeholder="Enter a description" class="slds-textarea"></textarea>
  </div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-description-font-size">Description font size</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-description-font-size" class="slds-input" placeholder="Enter a font size in px" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-description-line-height">Description Line Height</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-description-line-height" class="slds-input" placeholder="Enter a line height" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-description-font-weight">Description font weight</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-description-font-weight" class="slds-input" placeholder="Enter a font weight" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-description-font-color">Description font color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-description-font-color" class="slds-input" placeholder="Enter a font color in hex" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-url">Description Padding Bottom</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-padding-bottom" class="slds-input" placeholder="Enter padding" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-text">Button Text</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-button-text" class="slds-input" placeholder="Enter button text" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-url">Button URL</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-button-url" class="slds-input" placeholder="Enter a button URL" />
	</div>
</div>
<div class="slds-form-element">
	<div class="slds-form-element__control">
		<div class="slds-checkbox">
			<input type="checkbox" name="options" id="checkbox-center-button" value="checkbox-center-button" checked="" />
			<label class="slds-checkbox__label" for="checkbox-center-button">
				<span class="slds-checkbox_faux"></span>
				<span class="slds-form-element__label">Center Button</span>
			</label>
		</div>
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-image-url">Image URL</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-image-url" class="slds-input" placeholder="Enter an image URL" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-image-link">Image Destination URL</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-image-link" class="slds-input" placeholder="Enter an image destination URL" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-image-alt-text">Image Alt Text</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-image-alt-text" class="slds-input" placeholder="Enter image alt text" />
	</div>
</div>

