---
layout: layout.liquid
permalink: "/footer/"
style: "footer"
title: "Footer"
---

<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-logo-url">Logo URL</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-logo-url" class="slds-input" placeholder="https://image.s12.sfmc-content.com/lib/fe3011727364047c731778/m/1/76435029-6997-488c-930d-d37a44f0e786.png" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-logo-link">Logo Destination URL</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-logo-link" class="slds-input" placeholder="https://www.shift7digital.com/" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-fb-logo-url">Facebook Logo URL</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-fb-logo-url" class="slds-input" placeholder="https://image.s12.sfmc-content.com/lib/fe2f11727364047c7d1373/m/1/ecdafbbc-9b7f-476d-8ad8-dfb0b3bacd40.png" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-fb-logo-link">Facebook Destination URL</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-fb-logo-link" class="slds-input" placeholder="https://www.facebook.com/Shift7Digital/" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-li-logo-url">LinkedIn Logo URL</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-li-logo-url" class="slds-input" placeholder="https://image.s12.sfmc-content.com/lib/fe2f11727364047c7d1373/m/1/c807327f-0143-417c-95a4-f78f08fcbf83.png" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-li-logo-link">LinkedIn Destination URL</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-li-logo-link" class="slds-input" placeholder="https://www.linkedin.com/company/shift7digital/" />
	</div>
</div>

