---
layout: layout.liquid
permalink: "/full-span-image-600x200/"
style: "full-span-image-600x200"
title: "Full Span Image 600x200"
---

<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-image-url">Image URL</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-image-url" class="slds-input" placeholder="Enter an image URL" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-image-link">Image Destination URL</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-image-link" class="slds-input" placeholder="Enter an image destination URL" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-image-alt-text">Image Alt Text</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-image-alt-text" class="slds-input" placeholder="Enter image alt text" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-padding-top">Padding Top</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-padding-top" class="slds-input" placeholder="Enter padding top" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-padding-bottom">Padding Bottom</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-padding-bottom" class="slds-input" placeholder="Enter padding bottom" />
	</div>
</div>
