---
layout: layout.liquid
permalink: "/full-span-image/"
style: "full-span-image"
title: "Full Span Image"
---

<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-image-url">Image URL</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-image-url" class="slds-input" placeholder="Enter an image URL" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-image-link">Image Destination URL</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-image-link" class="slds-input" placeholder="Enter an image destination URL" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-image-alt-text">Image Alt Text</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-image-alt-text" class="slds-input" placeholder="Enter image alt text" />
	</div>
</div>
