---
layout: layout.liquid
permalink: "/header-promotional/"
style: "header-promotional"
title: "Header | Promotional"
---

<div class="slds-form-element">
	<div class="slds-form-element__control">
		<div class="slds-checkbox">
			<input type="checkbox" name="options" id="checkbox-unique-id-73" value="checkbox-unique-id-73" />
			<label class="slds-checkbox__label" for="checkbox-unique-id-73">
				<span class="slds-checkbox_faux"></span>
				<span class="slds-form-element__label">Image Alignment - Right</span>
			</label>
		</div>
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-promotion-url">Promotion Image URL</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-promotion-url" class="slds-input" placeholder="Enter image url" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-promotion-link">Promotion Image Destination URL</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-promotion-link" class="slds-input" placeholder="Enter destination url" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-promotion-alt">Promotion Image Alt</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-promotion-alt" class="slds-input" placeholder="Enter alt text" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title">Title</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title" class="slds-input" placeholder="Enter a title" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title-font-size">Title Font Size</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title-font-size" class="slds-input" placeholder="Enter a font size" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title-font-weight">Title Font Weight</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title-font-weight" class="slds-input" placeholder="Enter a font weight" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title-font-color">Title Font Color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title-font-color" class="slds-input" placeholder="Enter a font color" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title-line-height">Title Line Height</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title-line-height" class="slds-input" placeholder="Enter a line height" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title-padding-bottom">Title Padding Bottom</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title-padding-bottom" class="slds-input" placeholder="Enter padding bottom" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle">Subtitle</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle" class="slds-input" placeholder="Enter a subtitle" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle-font-size">Subtitle Font Size</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle-font-size" class="slds-input" placeholder="Enter a font size" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle-font-weight">Subtitle Font Weight</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle-font-weight" class="slds-input" placeholder="Enter a font weight" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle-font-color">Subtitle Font Color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle-font-color" class="slds-input" placeholder="Enter a font color" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle-line-height">Subtitle Line Height</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle-line-height" class="slds-input" placeholder="Enter a line height" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle-padding-bottom">Subtitle Padding Bottom</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle-padding-bottom" class="slds-input" placeholder="Enter padding bottom" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-description">Description</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-description" class="slds-input" placeholder="Enter a description" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-description-font-size">Description Font Size</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-description-font-size" class="slds-input" placeholder="Enter a font size" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-description-font-weight">Description Font Weight</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-description-font-weight" class="slds-input" placeholder="Enter a font weight" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-description-font-color">Description Font Color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-description-font-color" class="slds-input" placeholder="Enter a font color" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-description-line-height">Description Line Height</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-description-line-height" class="slds-input" placeholder="Enter a line height" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-description-padding-bottom">Description Padding Bottom</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-description-padding-bottom" class="slds-input" placeholder="Enter padding bottom" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-text">Button Text</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-button-text" class="slds-input" placeholder="Enter button text" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-url">Button Url</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-button-url" class="slds-input" placeholder="Enter button url" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-color">Button Text Color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-button-color" class="slds-input" placeholder="Enter button text color" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-background-color">Button Background Color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-button-background-color" class="slds-input" placeholder="Enter button background color" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-image-background-color">Image Background Color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-image-background-color" class="slds-input" placeholder="Enter image background color" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-text-background-color">Text Background Color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-text-background-color" class="slds-input" placeholder="Enter text background color" />
	</div>
</div>
