---
layout: layout.liquid
permalink: "/header/"
style: "header"
title: "Header"
---

<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-cta-text">CTA Text</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-cta-text" class="slds-input" placeholder="" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-cta-url">CTA Destination URL</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-cta-url" class="slds-input" placeholder="" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-logo-url">Logo URL</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-logo-url" class="slds-input" placeholder="" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-logo-link">Logo Destination URL</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-logo-link" class="slds-input" placeholder="https://www.fleetpride.com/parts" />
	</div>
</div>
