---
layout: layout.liquid
permalink: "/honeypot/"
style: "honeypot"
title: "Honeypot"
---

<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-honeypot-url">URL</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-honeypot-url" class="slds-input" placeholder="Enter a URL" />
	</div>
</div>

