---
layout: layout.liquid
permalink: "/landing-page-form/"
style: "landing-page-form"
title: "Landing Page Form (Cloud Page Only)"
---
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-data-extension">Data Extension</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-data-extension" class="slds-input" placeholder="Enter data extension name" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-source-campaign">Source Campaign</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-source-campaign" class="slds-input" placeholder="Enter source campaign name" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-source-landing-page">Source Landing Page</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-source-landing-page" class="slds-input" placeholder="Enter source landing page name" />
	</div>
</div>

<div style="margin: 5px 0"><strong>Toggle Fields</strong></div>

<div class="slds-form-element">
	<div class="slds-form-element__control">
		<div class="slds-checkbox">
			<input type="checkbox" name="options" id="checkbox-unique-id-phone" value="checkbox-unique-id-phone" />
			<label class="slds-checkbox__label" for="checkbox-unique-id-phone">
				<span class="slds-checkbox_faux"></span>
				<span class="slds-form-element__label">Primary Phone</span>
			</label>
		</div>
	</div>
</div>
<div class="slds-form-element">
	<div class="slds-form-element__control">
		<div class="slds-checkbox">
			<input type="checkbox" name="options" id="checkbox-unique-id-company" value="checkbox-unique-id-company" />
			<label class="slds-checkbox__label" for="checkbox-unique-id-company">
				<span class="slds-checkbox_faux"></span>
				<span class="slds-form-element__label">Company</span>
			</label>
		</div>
	</div>
</div>
<div class="slds-form-element">
	<div class="slds-form-element__control">
		<div class="slds-checkbox">
			<input type="checkbox" name="options" id="checkbox-unique-id-job-title" value="checkbox-unique-id-job-title" />
			<label class="slds-checkbox__label" for="checkbox-unique-id-job-title">
				<span class="slds-checkbox_faux"></span>
				<span class="slds-form-element__label">Job Title</span>
			</label>
		</div>
	</div>
</div>
<div class="slds-form-element">
	<div class="slds-form-element__control">
		<div class="slds-checkbox">
			<input type="checkbox" name="options" id="checkbox-unique-id-city" value="checkbox-unique-id-city" />
			<label class="slds-checkbox__label" for="checkbox-unique-id-city">
				<span class="slds-checkbox_faux"></span>
				<span class="slds-form-element__label">City</span>
			</label>
		</div>
	</div>
</div>
<div class="slds-form-element">
	<div class="slds-form-element__control">
		<div class="slds-checkbox">
			<input type="checkbox" name="options" id="checkbox-unique-id-state" value="checkbox-unique-id-state" />
			<label class="slds-checkbox__label" for="checkbox-unique-id-state">
				<span class="slds-checkbox_faux"></span>
				<span class="slds-form-element__label">State</span>
			</label>
		</div>
	</div>
</div>
<div class="slds-form-element">
	<div class="slds-form-element__control">
		<div class="slds-checkbox">
			<input type="checkbox" name="options" id="checkbox-unique-id-zip-code" value="checkbox-unique-id-zip-code" />
			<label class="slds-checkbox__label" for="checkbox-unique-id-zip-code">
				<span class="slds-checkbox_faux"></span>
				<span class="slds-form-element__label">Zip Code</span>
			</label>
		</div>
	</div>
</div>
<div class="slds-form-element">
	<div class="slds-form-element__control">
		<div class="slds-checkbox">
			<input type="checkbox" name="options" id="checkbox-unique-id-account-number" value="checkbox-unique-id-account-number" />
			<label class="slds-checkbox__label" for="checkbox-unique-id-account-number">
				<span class="slds-checkbox_faux"></span>
				<span class="slds-form-element__label">FleetPride Account Number</span>
			</label>
		</div>
	</div>
</div>