---
layout: layout.liquid
permalink: "/multi-category-features/"
style: "multi-category-features"
title: "Mutli-Category Features"
---
<strong>Global</strong>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-font-weight">Category Name font weight</label>
	<div class="slds-form-element__control">
		<input id="text-input-id-font-weight" class="slds-input" type="text" placeholder="Enter a font weight" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-font-size">Category Name font size</label>
	<div class="slds-form-element__control">
		<input id="text-input-id-font-size" class="slds-input" type="text" placeholder="Enter a font size" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-line-height">Category Name font size</label>
	<div class="slds-form-element__control">
		<input id="text-input-id-line-height" class="slds-input" type="text" placeholder="Enter a line height"/>
	</div>
</div>
<strong>Category 1</strong>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-category-name">Category Name</label>
	<div class="slds-form-element__control">
		<input id="text-input-id-category-name" class="slds-input" type="text" placeholder="Enter a Category Name" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-image-url">Image URL</label>
	<div class="slds-form-element__control">
		<input id="text-input-id-image-url" class="slds-input" type="text" placeholder="https://www.fleetpride.com" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-image-alt-text">Image Alt Text</label>
	<div class="slds-form-element__control">
		<input id="text-input-id-image-alt-text" class="slds-input" type="url" placeholder="Enter image alt text" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-category-url">Category URL</label>
	<div class="slds-form-element__control">
		<input id="text-input-id-category-url" class="slds-input" type="text" placeholder="https://www.fleetpride.com" />
	</div>
</div> <strong>Category 2</strong>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id2-category-name">Category Name</label>
	<div class="slds-form-element__control">
		<input id="text-input-id2-category-name" class="slds-input" type="text" placeholder="Enter a Category Name" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id2-image-url">Image URL</label>
	<div class="slds-form-element__control">
		<input id="text-input-id2-image-url" class="slds-input" type="text" placeholder="https://www.fleetpride.com" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id2-image-alt-text">Image Alt Text</label>
	<div class="slds-form-element__control">
		<input id="text-input-id2-image-alt-text" class="slds-input" type="url" placeholder="Enter image alt text" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id2-category-url">Category URL</label>
	<div class="slds-form-element__control">
		<input id="text-input-id2-category-url" class="slds-input" type="text" placeholder="https://www.fleetpride.com" />
	</div>
</div> <strong>Category 3</strong>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id3-category-name">Category Name</label>
	<div class="slds-form-element__control">
		<input id="text-input-id3-category-name" class="slds-input" type="text" placeholder="Enter a Category Name" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id3-image-url">Image URL</label>
	<div class="slds-form-element__control">
		<input id="text-input-id3-image-url" class="slds-input" type="text" placeholder="https://www.fleetpride.com" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id3-image-alt-text">Image Alt Text</label>
	<div class="slds-form-element__control">
		<input id="text-input-id3-image-alt-text" class="slds-input" type="url" placeholder="Enter image alt text" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id3-category-url">Category URL</label>
	<div class="slds-form-element__control">
		<input id="text-input-id3-category-url" class="slds-input" type="text" placeholder="https://www.fleetpride.com" />
	</div>
</div> <strong>Category 4</strong>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id4-category-name">Category Name</label>
	<div class="slds-form-element__control">
		<input id="text-input-id4-category-name" class="slds-input" type="text" placeholder="Enter a Category Name" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id4-image-url">Image URL</label>
	<div class="slds-form-element__control">
		<input id="text-input-id4-image-url" class="slds-input" type="text" placeholder="https://www.fleetpride.com" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id4-image-alt-text">Image Alt Text</label>
	<div class="slds-form-element__control">
		<input id="text-input-id4-image-alt-text" class="slds-input" type="url" placeholder="Enter image alt text" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id4-category-url">Category URL</label>
	<div class="slds-form-element__control">
		<input id="text-input-id4-category-url" class="slds-input" type="text" placeholder="https://www.fleetpride.com" />
	</div>
</div>