---
layout: layout.liquid
permalink: "/order-again/"
style: "order-again"
title: "Order Again"
---

<strong>Global</strong>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-padding-top">Padding Top</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-padding-top" class="slds-input" placeholder="Enter top padding" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-padding-bottom">Padding Bottom</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-padding-bottom" class="slds-input" placeholder="Enter bottom padding" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title">Title</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title" class="slds-input" placeholder="Enter a title" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title-font-size">Title font size</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title-font-size" class="slds-input" placeholder="Enter a font size in px" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title-line-height">Title line height</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title-line-height" class="slds-input" placeholder="Enter a line height" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title-font-weight">Title font weight</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title-font-weight" class="slds-input" placeholder="Enter a font weight" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-title-font-color">Title font color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-title-font-color" class="slds-input" placeholder="Enter a font color in hex" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle">Subtitle</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle" class="slds-input" placeholder="Enter a subtitle" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle-font-size">Subtitle font size</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle-font-size" class="slds-input" placeholder="Enter a font size in px" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle-line-height">Subtitle line height</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle-line-height" class="slds-input" placeholder="Enter a line height" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle-font-weight">Subtitle font weight</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle-font-weight" class="slds-input" placeholder="Enter a font weight" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-subtitle-font-color">Subtitle font color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-subtitle-font-color" class="slds-input" placeholder="Enter a font color in hex" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-2">Landing Page Button Text</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-2" class="slds-input" placeholder="Button Text" />
	</div>
</div>
<div class="slds-form-element slds-m-bottom_small">
	<label class="slds-form-element__label" for="text-input-id-utm-content-id">UTM Content Id</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-utm-content-id" class="slds-input" placeholder="Enter utm_content ID" />
	</div>
</div>
<strong>Product Display</strong>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-product-button-text">Product Button Text</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-product-button-text" class="slds-input" placeholder="Enter product button text" />
	</div>
</div>
<div class="slds-form-element">
	<div class="slds-form-element__control">
		<div class="slds-checkbox">
			<input type="checkbox" name="options" id="checkbox-show-price" value="checkbox-show-price" checked="" />
			<label class="slds-checkbox__label" for="checkbox-show-price">
				<span class="slds-checkbox_faux"></span>
				<span class="slds-form-element__label">Show Price</span>
			</label>
		</div>
	</div>
</div>
<div class="slds-form-element slds-m-bottom_small">
	<label class="slds-form-element__label" for="text-input-id-price-label">Price Label</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-price-label" class="slds-input" placeholder="Enter price label" />
	</div>
</div>
<strong>Dynamic Products</strong>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-data-extension">Data Extension</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-data-extension" class="slds-input" placeholder="Data Extension" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-data-extension-fallback">Data Extension Fallback</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-data-extension-fallback" class="slds-input" placeholder="Data Extension Fallback" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="select-input-id-product-count">Product Sequence</label>
	<div class="slds-form-element__control">
		<select class="select" name="select" id="select-input-id-product-count">
			<option value="1">Products 1-2</option>
			<option value="2">Products 3-4</option>
			<option value="3">Products 5-6</option>
			<option value="4">Products 7-8</option>
			<option value="5">Products 9-10</option>
		</select>
	</div>
</div>