---
layout: layout.liquid
permalink: "/product-carousel/"
style: "product-carousel"
title: "Product Carousel"
---

<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-0">Title</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-0" class="slds-input" placeholder="Enter title" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-data-extension">Data Extension</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-data-extension" class="slds-input" placeholder="Enter a data extention (string)" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-data-extension-fallback">Data Extension Fallback</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-data-extension-fallback" class="slds-input" placeholder="Enter a data extention fallback (string)" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-product-button-text">Product Button Text</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-product-button-text" class="slds-input" placeholder="Enter product button text" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-product-count">Product Count</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-product-count" class="slds-input" placeholder="Enter 5 or 10" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-price-label">Price Label</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-price-label" class="slds-input" placeholder="Enter price label" />
	</div>
</div>
<div class="slds-form-element">
	<div class="slds-form-element__control">
		<div class="slds-checkbox">
			<input type="checkbox" name="options" id="checkbox-show-price" value="checkbox-show-price" checked="" />
			<label class="slds-checkbox__label" for="checkbox-show-price">
				<span class="slds-checkbox_faux"></span>
				<span class="slds-form-element__label">Show Price</span>
			</label>
		</div>
	</div>
</div>