---
layout: layout.liquid
permalink: "/single-button/"
style: "single-button"
title: "Single Button"
---

<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-button-url">Button URL</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-button-url" class="slds-input" placeholder="" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-button-text">Button Text</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-button-text" class="slds-input" placeholder="" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-background-color">Background Color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-background-color" class="slds-input" placeholder="" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-border-color">Border Color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-border-color" class="slds-input" placeholder="" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-font-size">Button font size</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-button-font-size" class="slds-input" placeholder="Enter a font size in px" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-line-height">Button line height</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-button-line-height" class="slds-input" placeholder="Enter a line height" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-font-weight">Button font weight</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-button-font-weight" class="slds-input" placeholder="Enter a font weight" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-font-color">Button font color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-button-font-color" class="slds-input" placeholder="Enter a font color in hex" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-top-margin">Top Margin</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-button-top-margin" class="slds-input" placeholder="Enter a top margin in px" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-bottom-margin">Bottom Margin</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-button-bottom-margin" class="slds-input" placeholder="Enter a bottom margin in px" />
	</div>
</div>
<div class="slds-form-element">
	<div class="slds-form-element__control">
		<div class="slds-checkbox">
			<input type="checkbox" name="options" id="checkbox-center-button" value="checkbox-center-button" checked="" />
			<label class="slds-checkbox__label" for="checkbox-center-button">
				<span class="slds-checkbox_faux"></span>
				<span class="slds-form-element__label">Center Button</span>
			</label>
		</div>
	</div>
</div>
