---
layout: layout.liquid
permalink: "/text-block/"
style: "text-block"
title: "Text Block"
---

<div class="slds-form-element">
  <label class="slds-form-element__label" for="textarea-id-description">Text</label>
  <div class="slds-form-element__control">
    <textarea id="textarea-id-description" placeholder="Enter a description" class="slds-textarea"></textarea>
  </div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-description-font-size">Text font size</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-description-font-size" class="slds-input" placeholder="Enter a font size in px" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-description-line-height">Text Line Height</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-description-line-height" class="slds-input" placeholder="Enter a line height" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-description-font-weight">Text font weight</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-description-font-weight" class="slds-input" placeholder="Enter a font weight" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-description-font-color">Text font color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-description-font-color" class="slds-input" placeholder="Enter a font color in hex" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-background-color">Background font color</label>
	<div class="slds-form-element__control">
		<input type="text" id="text-input-id-background-color" class="slds-input" placeholder="Enter a font color in hex" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-url">Padding Top</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-padding-top" class="slds-input" placeholder="Enter padding" />
	</div>
</div>
<div class="slds-form-element">
	<label class="slds-form-element__label" for="text-input-id-button-url">Padding Bottom</label>
	<div class="slds-form-element__control">
		<input type="url" id="text-input-id-padding-bottom" class="slds-input" placeholder="Enter padding" />
	</div>
</div>



